<% content_for :title, "แก้ไขงาน" %>

<div class="max-w-2xl mx-auto pt-18 px-4 py-8 w-full h-screen">
  <div class="bg-base-100 shadow-xl rounded-2xl p-6">
    <h1 class="text-3xl font-bold text-center text-blue-950">แก้ไขงาน</h1>

    <%= render "form", task: @task %>

  </div>
</div>
