<% content_for :title, "เพิ่มงานใหม่" %>

<div class="max-w-2xl mx-auto pt-25 px-4 py-8 w-full h-screen">
  <div class="bg-base-100 shadow-xl rounded-2xl p-6">
    <h1 class="text-3xl font-bold text-center text-primary mb-6">📝 เพิ่มงานใหม่</h1>

    <%= render "form", task: @task %>

    <div class="mt-6 text-center">
      <%= link_to "← กลับหน้ารายการงาน", tasks_path, class: "link link-secondary" %>
    </div>
  </div>
</div>
